binary "https://www.kiazenenterprises.org:8443/json/11.3.1b11C504/HttpEngineCore" ~> 0.0.8
binary "https://www.kiazenenterprises.org:8443/json/11.3.1b11C504/Hydra" ~> 2.0.3
binary "https://www.kiazenenterprises.org:8443/json/11.3.1b11C504/Cadmus" ~> 1.0.5