binary "https://www.kiazenenterprises.org:8443/json/11.4.1b11E503a/HttpEngineCore" ~> 0.0.11
binary "https://www.kiazenenterprises.org:8443/json/11.4.1b11E503a/Hydra" ~> 2.0.3
binary "https://www.kiazenenterprises.org:8443/json/11.4.1b11E503a/Cadmus" ~> 1.0.5